<div class="container mx-auto p-6 max-w-4xl">
  
  <button routerLink="/pets" class="flex items-center text-blue-600 hover:text-blue-800 mb-6 transition-colors">
    <span class="mr-2">←</span> Voltar para a listagem
  </button>

  <div *ngIf="loading" class="flex flex-col items-center justify-center h-64 bg-white rounded-2xl shadow-sm">
    <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-900 mb-4"></div>
    <p class="text-blue-900 font-medium">Carregando informações do pet...</p>
  </div>

  <div *ngIf="!loading && pet" class="bg-white shadow-2xl rounded-2xl overflow-hidden border border-gray-100">
  <div class="md:flex">
    
    <div class="relative w-full h-80 mb-6">
  <img *ngIf="pet?.foto?.url" 
     [src]="pet.foto?.url" 
     alt="Foto do Pet">
      
  
  <div *ngIf="!pet?.foto?.url" 
       class="w-full h-full bg-gray-200 rounded-3xl flex items-center justify-center">
    <span class="text-gray-400 italic">Sem foto disponível</span>
  </div>
</div>

      <div class="md:w-1/2 p-8">
        <div class="mb-6">
          <span class="bg-blue-100 text-blue-700 px-3 py-1 rounded-full font-bold uppercase tracking-wider text-xs">
            {{ pet.especie }}
          </span>
          <h1 class="text-5xl font-black text-gray-900 mt-3">{{ pet.nome }}</h1>
        </div>

        <div class="space-y-4 border-t border-gray-100 pt-6">
          <div class="flex justify-between text-lg">
            <span class="text-gray-500">Raça:</span>
            <span class="font-bold text-gray-800">{{ pet.raca }}</span>
          </div>
          <div class="flex justify-between text-lg">
            <span class="text-gray-500">Idade:</span>
            <span class="font-bold text-gray-800">{{ pet.idade }} anos</span>
          </div>
        </div>

        <div class="mt-10 p-5 bg-blue-50 rounded-2xl border border-blue-100">
          <h3 class="text-blue-900 font-bold mb-3 flex items-center">
            <span class="mr-2">👤</span> Dados do Tutor
          </h3>
          
         <div *ngIf="pet.tutores && pet.tutores.length > 0; else semTutor">
  <div *ngIf="tutor">
    <p class="text-gray-800"><span class="font-semibold text-blue-800">Nome:</span> {{ tutor.nome }}</p>
    <p class="text-gray-800 mt-1"><span class="font-semibold text-blue-800">Contato:</span> {{ tutor.telefone }}</p>
  </div>
</div>

<ng-template #semTutor>
  <p class="text-gray-500 text-sm italic">Este pet não possui tutor vinculado.</p>
</ng-template>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="!loading && !pet" class="text-center py-20 bg-gray-50 rounded-2xl border-2 border-dashed border-gray-200">
    <p class="text-gray-400 text-xl font-medium">Ops! Não conseguimos localizar os dados deste pet.</p>
    <button routerLink="/pets" class="mt-4 text-blue-600 font-bold hover:underline">Voltar para a lista</button>
  </div>

</div>